nav {
    width: 240px;
    height: 100%;
    background: #202940;

    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    padding: var(--af-space-4) var(--af-space-5);
}

a:hover {
    background: #2e3b5d;
}

.active {
    background: #2e3b5d;
}