.header {
    height: 64px;
    background: #1e293b;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 24px;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.user {
    font-size: 14px;
}