:root {
    /* Spacing */
    --af-space-1: 4px;
    --af-space-2: 8px;
    --af-space-3: 12px;
    --af-space-4: 16px;
    --af-space-5: 20px;
    --af-space-6: 24px;
    --af-space-7: 32px;
    --af-space-8: 40px;
    --af-space-9: 48px;
    --af-space-10: 64px;
}